<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-success" style="background: #6BC28A; color: white;" (click)="onOpenModal(blankService, 'add')">Add Service</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Flight Date</th>
            <th scope="col">Description</th>
            <th scope="col">Active</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <!-- <div *ngFor="let service of services " class="col-md-6 col-xl-3"> -->
            <tr *ngFor="let service of services">
              <!-- <th scope="row">1</th> -->
              <td>{{service.id}}</td>
              <td>{{service.name}}</td>
              <td>{{service.flightDate}}</td>
              <td>{{service.description}}</td>
              <td>{{service.isActive}}</td>
              <td>
                <span class="me-3" title="Edit" (click)="onOpenModal(service, 'edit')">
                  <i class="fa fa-pencil" style="color:#6BC28A;"></i>
                </span>
                <span title="Delete" (click)="onOpenModal(service, 'delete')">
                  <i class="fa fa-trash" aria-hidden="true" style="color:red;"></i>
                </span>
              </td>
            </tr>
          <!-- </div> -->
        </tbody>
      </table>

    </div>
  </div>
</div>


<!-- Add Employee Modal -->
<div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddServices(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Job title</label>
            <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
          </div>
          <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateServiceModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editService?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editService?.name}}" name="name" class="form-control" id="name"
              aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editService?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <input type="hidden" ngModel="{{editService?.id}}" name="userCode" class="form-control" id="userCode"
            placeholder="Email">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{editService?.name}}" name="name" class="form-control" id="email"
              placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phone">Job title</label>
            <input type="text" ngModel="{{editService?.flightDate}}" name="flightDate" class="form-control"
              id="jobTitle" placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel="{{editService?.description}}" name="description" class="form-control" id="phone"
              name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" ngModel="{{editService?.isActive}}" name="isActive" class="form-control" id="imageUrl"
              placeholder="Image URL">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button  data-dismiss="modal" class="btn btn-primary">Save
              changes</button>
              <!-- (click)="onUpdateServices(editForm.value)" -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteServiceModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee {{deleteService?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteServices(deleteService.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- Notification for no employees -->
<div *ngIf="services?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
</div>
