<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button>Add Business</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <span class="me-3" title="Edit">
                <i class="fa fa-pencil" style="color:#000;"></i>
              </span>
              <span title="Delete">
                <i class="fa fa-trash" aria-hidden="true" style="color:#000 ;"></i>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
